<mat-dialog-actions align="end">
  <button mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
<mat-dialog-content *ngIf="speaker" class="mat-typography" style="padding-top: 0px;">
  <div class="avatar-name-group">
    <img class="avatar" [src]="speaker.photo || './assets/speaker-badge.svg'"  alt="the avatar of the speaker">
    <div class="name-box">
      <p class="full-name">{{ speaker.name }}</p>
      <p class="tag-line">{{ speaker.title }}</p>
    </div>
  </div>
  <p *ngIf="speaker?.bio">👤 {{ speaker.bio }}</p>
  <p *ngFor="let session of speaker.generatedSessions">
    <a [routerLink]="'/schedule/' + session.id ">🗓️ {{ session.title }}</a>
  </p>
  <div class="social-link-list">
    <a mat-icon-button class="social-link" *ngFor="let social of speaker.socials" [href]="social.link" target="_blank">
      <fa-icon [icon]="social.name | toSocialLinkIcon"></fa-icon>
    </a>
  </div>
</mat-dialog-content>