<div class="max-width-constraint-with-padding">
    <h1>講者</h1>
    <p>
        從 Googler、合作夥伴以及社群講者們瞭解最新技術資訊，我們會在此不定期加入講者的相關資訊，歡迎您在此持續關注我們的訊息。
    </p>
    <div class="mat-card-group">
        <mat-card *ngFor="let speaker of speakers" appearance="outlined">
            <mat-card-header>
                <a [routerLink]="speaker.generatedID" class="avatar-link">
                    <img mat-card-avatar [src]="speaker.photo || './assets/speaker-badge.svg'" alt="the avatar of the speaker">
                </a>
                <mat-card-title-group>
                    <mat-card-title>
                        <a [routerLink]="speaker.generatedID" class="hover">
                            {{speaker.name}}
                        </a>
                    </mat-card-title>
                    <mat-card-subtitle>{{speaker.title || ''}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>{{ speaker.shortBio }}</p>
                <div class="social-link-list">
                    <a mat-icon-button class="social-link" *ngFor="let social of speaker.socials" [href]="social.link" target="_blank"><fa-icon [icon]="social.name | toSocialLinkIcon"></fa-icon></a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>