<mat-dialog-actions align="end">
    <button mat-icon-button [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>
<mat-dialog-content *ngIf="session" class="mat-typography" style="padding-top: 0px;">
    <h1>{{ session.title }}</h1>
    <p>🕒 {{ session.generatedStartAt | date:'MM/d hh:mm' }} ~ {{ session.generatedEndsAt | date:'hh:mm' }}</p>
    <p *ngIf="session.generatedRoom">🚪 {{ session.generatedRoom }}</p>
    <p *ngIf="session.format">💬 {{ session.format }}</p>
    <p *ngIf="session.language">🌐 {{ session.language }}</p>
    <p *ngIf="session.description">📝 {{ session.description }}</p>
    <ul class="speaker-list">
        <li *ngFor="let speakerID of session.speakers">
            <a [routerLink]="'/speakers/' + speakerID" class="speaker-avatar-link">
                <img [src]="speakersMap.get(speakerID)?.photo || './assets/speaker-badge.svg'" alt="the avatar of the speaker">
            </a>
            <div>
                <p class="speaker-name" *ngIf="speakersMap.get(speakerID)?.name">{{ speakersMap.get(speakerID)?.name }}</p>
                <p class="speaker-tagLine" *ngIf="speakersMap.get(speakerID)?.title">{{ speakersMap.get(speakerID)?.title }}</p>
            </div>
        </li>
    </ul>
    <div>
        <mat-chip-set>
            <mat-chip *ngFor="let tag of session.tags" [style]="'background-color:'+ (tag | tagColorPipe) +';'">{{ tag }}</mat-chip>
        </mat-chip-set>
    </div>
</mat-dialog-content>