<div class="max-width-constraint-with-padding">
    <h1>議程</h1>
    <div *ngFor="let schedule of schedules">
        <h2 class="schedule-date">📅 {{ schedule.date | date:'MM/dd' }}</h2>
        <div *ngFor="let slot of schedule.timeslots">
            <div class="schedule-time">{{ slot.startTime | date:'HH:mm' }}</div>
            <div class="mat-card-group">
                <mat-card appearance="outlined" *ngFor="let session of slot.generatedSessions">
                    <mat-card-header>
                        <mat-card-title>
                            <a [routerLink]="'/schedule/' + session.generatedID">{{ session.title }}</a>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <span *ngIf="session.generatedRoom">
                                {{ session.generatedRoom }}
                            </span>
                            <span class="language-box" *ngIf="session.language">
                                {{ session.language }}
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="social-link-list">
                        <!-- <p>{{room.name}}</p> -->
                        <div>
                            <ul class="speaker-list">
                                <li *ngFor="let speakerID of session.speakers">
                                    <a [routerLink]="'/speakers/' + speakerID" class="speaker-avatar-link">
                                        <img
                                            [src]="speakersMap.get(speakerID)?.photo || './assets/speaker-badge.svg'"
                                            alt="the avatar of the speaker">
                                    </a>
                                    <div>
                                        <p class="speaker-name">{{ speakersMap.get(speakerID)?.name ?? "" }}</p>
                                        <p class="speaker-tag-line">{{ speakersMap.get(speakerID)?.title ?? "" }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </mat-card-content>
                    <div class="card-spacing"></div>
                    <mat-card-footer>
                        <mat-chip-set>
                            <mat-chip *ngFor="let tag of session.tags" [style]="'background-color:'+ (tag | tagColorPipe) +';'">{{ tag }}</mat-chip>
                        </mat-chip-set>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>