<div class="max-width-constraint-with-padding">
    <h1>團隊</h1>
    <p>Google 是全世界知名的公司，每個人都在用 Google 搜尋，用 Google 地圖查路線資訊，並用 Gmail 互相聯絡。對一般使用者來說，Google
        所提供的服務也許剛剛好，但我們不會滿足於現狀。開發者們需要更多：API 程式介面、因應服務規模擴增而來的問題處理、複雜的技術堆疊等等，而 Google 開發者社群 (GDG)
        就是為了解決這些需求而成立的。我們是開放並由志工所組成的 Google 技術社群，我們創造令人感興趣的專案，並以熱情分享使用 Google
        技術的相關經驗。我們的目的是創造讓產業最佳專家們與台灣開發者們有建立連結的空間，以讓科技的發展更加蓬勃發展！</p>
    <h2>核心團隊</h2>
    <div class="mat-card-group">
        <mat-card *ngFor="let member of members" class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{member.name}}</mat-card-title>
                    <mat-card-subtitle>{{member.bio}}</mat-card-subtitle>
                    <img mat-card-image src="{{member.profilePicture || './assets/organizer-badge.svg'}}">
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="social-link-list">
                <a *ngFor="let link of member.links" class="social-link" href="link.url" title="{{link.title}}" target="_blank">
                    <fa-icon [icon]="link.linkType | toSocialLinkIcon"></fa-icon>
                </a>
            </mat-card-content>
        </mat-card>
    </div>

    <h2>設計</h2>
    <h2>公關組</h2>
    <h2>議程組</h2>
    <h2>記錄組</h2>
</div>