<div class="cover" style="background-image: url('./assets/banner.svg');"></div>
<div class="max-width-constraint two-columns">
    <div class="two-columns-texts">
        <h1>DevFest Taipei 2024</h1>
        <p>DevFests 是由全球 Google Developer Group (GDG) 主辦的技術盛會，專為當地開發者社群量身打造。每場 DevFest
            活動皆由當地組織者策劃，內容緊貼社群需求與興趣。無論是透過實作學習、專家講座，還是與志同道合的開發者們交流，參與者都能深入探索 Google 開發者工具的應用，共同合作與創新。</p>
        <p>DevFest 2024 涵蓋廣泛 Mobile、Web、Cloud 及 AI，內容豐富多元。活動形式包括精彩的演講、實作工作坊、互動體驗等，並提供與 Google
            工程師及其他開發者面對面交流的寶貴機會。作為開發者社群的重要活動，DevFest 為開發者提供了一個學習新知、拓展人脈，並共同成長的絕佳盛會。
    </div>
    <div class="two-columns-image">
        <img src="./assets/df24-stack-announce.gif">
    </div>
</div>
<div class="banner">
    <div>
        <img src="./assets/df24-logo-lockup-taipei.svg">
    </div>
</div>
<div class="max-width-constraint-with-padding">
    <h2>地點</h2>
    <p>106 台北市大安區羅斯福路四段 1 號 國立臺灣大學博雅教學館</p>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.4486299065966!2d121.53412517537609!3d25.018844777826207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a989d9909417%3A0x13a8ef0043681664!2z5ZyL56uL6Ie654Gj5aSn5a245Y2a6ZuF5pWZ5a246aSo!5e0!3m2!1szh-TW!2stw!4v1728984980807!5m2!1szh-TW!2stw"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>合作夥伴</h2>
</div>